//root
$black: #000;
$white: #fff;
$cyan: #00ADB5;

$darkest: #292A2A;
$darker: #2B2C2C;
$dark: #2D2E2E;
$light-dark: #3F4040;

$dark-gray: #717273;
$gray: #A4A5A6;
$light-gray: #EEEEEE;

//mixin
@mixin title {
  border-top: 1px solid $light-dark;
  border-bottom: 1px solid $light-dark;
  background-color: $darkest;
  padding: 30px 20px;
}

@mixin underTitle {

  .title__self {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    .self__text {
      font-size: 1.8rem;
      color: $gray;
      margin-bottom: 10px;
      font-weight: 500;
    }

    .self__description {
      font-size: 1.4rem;
      color: $gray;
      font-weight: 300;
    }
  }
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 2000px;
}

//information
.information {
  background-color: $dark;

  .information--inner {
    padding: 50px 20px 0;

    .information__info {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-bottom: 2px solid $light-dark;
      padding-bottom: 30px;
      margin-bottom: 30px;

      .info__image {
        width: 150px;
        height: 150px;
        margin-bottom: 20px;

        .image__pic {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
          object-position: top;
        }
      }

      .info__name {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 20px;

        .name__fullName {
          font-size: 4rem;
          color: $gray;
          margin-bottom: -20px;

          &:last-child {
            margin-bottom: 0;
            color: $cyan;
          }
        }
      }

      .info__contact {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .contact__carrier {
          margin-bottom: 40px;

          .carrier__self {
            font-size: 1.5rem;
            color: $gray;
            font-weight: 200;
          }
        }

        .contact__social-media {
          display: flex;
          align-items: center;
          justify-content: center;

          .social-media__tag {
            width: 40px;
            height: 40px;
            background-color: $light-dark;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 10px;
            border-radius: 5px;
            cursor: pointer;
            transition: color, background-color 0.3s ease;

            .tag__self {
              font-size: 2rem;
              color: $dark-gray;
            }

            &:hover {
              border: 3px solid $light-dark;
              background-color: $dark;
            }

            &:hover .tag__self {
              color: $cyan;
            }
          }
        }
      }
    }

    .information__about {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .about__info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 40px;

        .info__title {
          font-size: 1.4rem;
          color: $gray;
          margin-bottom: 10px;
          font-weight: 500;
        }

        .info__text {
          font-size: 1.2rem;
          color: $gray;
          font-weight: 300;
        }
      }
    }
  }
}

//intro
.intro {

  .intro__title {
    @include title();

    @include underTitle();
  }

  .intro__paragraph {
    background-color: $dark;
    padding: 30px 20px;

    .paragraph__text {
      font-size: 1.3rem;
      line-height: 26px;
      color: $gray;
      font-weight: 300;

      .text__tel {
        color: $cyan;
        font-size: 1.3rem;
        font-weight: 500;
        transition: 0.2s ease;

        &:hover {
          color: $light-gray;
        }
      }
    }
  }
}

//expertise
.expertise {

  .expertise__title {
    @include title();

    @include underTitle();
  }

  .expertise__data {
    padding: 30px 20px;
    background-color: $dark;
    display: flex;
    flex-wrap: wrap;

    .data__info {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: 20px;
      width: 100%;

      .info__number {
        color: $cyan;
        font-size: 1.8rem;
        margin-right: 20px;
        font-weight: 500;
      }

      .info__text {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;

        .text__title {
          font-size: 1.8rem;
          font-weight: 500;
          color: $gray;
          margin-bottom: 10px;
        }

        .text__description {
          font-size: 1.2rem;
          font-weight: 300;
          line-height: 24px;
          color: $gray;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

//skill
.skill {

  .skill__title {
    @include title();

    @include underTitle();
  }

  .skill__progress {
    padding: 30px 20px;
    background-color: $dark;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    .progress__section {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      width: 100%;

      .section__title {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 10px;

        .title__number {
          color: $cyan;
          font-size: 1.8rem;
          margin-right: 18px;
          font-weight: 500;
        }

        .title__text {
          color: $gray;
          font-size: 1.8rem;
          font-weight: 500;
        }
      }

      .section__bar {
        margin-bottom: 20px;
        width: 100%;

        .bar__main {
          position: relative;
          height: 5px;
          width: 100%;
          background-color: $light-dark;

          .bar__progress {
            position: absolute;
            top: 0;
            left: 0;
            height: 5px;
            width: 80%;
            background-color: $cyan;
          }

          .bar__progress[data-progress="80%"] {
            width: 80%;
          }

          .bar__progress[data-progress="70%"] {
            width: 70%;
          }

          .bar__progress[data-progress="65%"] {
            width: 65%;
          }

          .bar__progress[data-progress="40%"] {
            width: 40%;
          }

          .bar__progress[data-progress="65%"] {
            width: 65%;
          }

          .bar__progress[data-progress="55%"] {
            width: 55%;
          }

          .bar__progress[data-progress="70%"] {
            width: 70%;
          }
        }
      }
    }
  }
}

//experience
.experience {

  .experience__title {
    @include title();

    @include underTitle();
  }

  .experience__data {
    background-color: $dark;
    padding: 30px 20px;

    .data__info {
      padding-left: 30px;
      margin-bottom: 25px;
      position: relative;

      .info__self {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;

        .self__date {
          color: $dark-gray;
          font-size: 1rem;
          margin-bottom: 10px;
        }

        .self__company {
          color: $gray;
          font-size: 1.8rem;
          margin-bottom: 10px;
        }

        .self__job {
          color: $gray;
          font-size: 1.1rem;
          margin-bottom: 10px;
        }

        .self__location {
          color: $dark-gray;
          font-size: 1rem;
          margin-bottom: 10px;
        }
      }

      .info__description {

        .description__text {
          color: $gray;
          font-size: 1.3rem;
          line-height: 24px;
          margin-bottom: 10px;
        }
      }

      .info__ball {
        position: absolute;
        top: 0;
        left: 0;

        .ball__self {
          width: 10px;
          height: 10px;
          color: $cyan;
        }
      }

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(4px, 20px);
        width: 2px;
        height: 158%;
        background-color: $light-dark;
      }
    }

    .data__info--last {

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(4px, 20px);
        width: 2px;
        height: 158%;
        background-color: $light-dark;
      }
    }
  }
}

//education
.education {

  .education__title {
    @include title();
    position: relative;

    @include underTitle();
  }

  .education__data {
    background-color: $dark;
    padding: 30px 20px;

    .data__info {
      position: relative;
      padding-left: 30px;
      margin-bottom: 25px;

      .info__self {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;

        .self__date {
          color: $dark-gray;
          font-size: 1rem;
          margin-bottom: 10px;
        }

        .self__company {
          color: $gray;
          font-size: 1.8rem;
          margin-bottom: 10px;
        }

        .self__job {
          color: $gray;
          font-size: 1.1rem;
          margin-bottom: 10px;
        }

        .self__location {
          color: $dark-gray;
          font-size: 1rem;
          margin-bottom: 10px;
        }
      }

      .info__description {

        .description__text {
          color: $gray;
          font-size: 1.3rem;
          line-height: 24px;
          margin-bottom: 10px;
        }
      }

      .info__ball {
        position: absolute;
        top: 0;
        left: 0;

        .ball__self {
          width: 10px;
          height: 10px;
          color: $cyan;
        }
      }

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(4px, 20px);
        width: 2px;
        height: 100%;
        background-color: $light-dark;
      }
    }

    .data__info--last {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translate(-4px, 20px);
        height: 2px;
        width: 20px;
        background-color: $light-dark;
      }
    }
  }
}

//profiles
.profiles {

  .profiles__title {
    @include title();

    @include underTitle();
  }

  .profiles__data {
    background-color: $dark;
    padding: 30px 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    .data__activity {
      display: flex;
      align-items: baseline;
      justify-content: flex-start;
      margin-bottom: 30px;

      .activity__logo {
        margin-right: 20px;

        .logo__pic {

          .pic__self {
            color: $dark-gray;
            font-size: 2rem;
            transition: 0.2s ease;
            cursor: pointer;

            &:hover {
              color: $cyan;
            }
          }
        }
      }

      .activity__text {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;

        .text__title {
          color: $cyan;
          font-size: 2rem;
          font-weight: 500;
          margin-bottom: 10px;
        }

        .text__description {
          color: $gray;
          font-size: 1.3rem;
        }
      }
    }
  }
}

//contact
.contact {

  .contact__title {
    @include title();

    @include underTitle();
  }

  .contact__data {
    background-color: $dark;
    padding: 30px 20px;

    .data__about {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap;

      .about__info {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 40px;

        .info__title {
          font-size: 1.4rem;
          color: $gray;
          margin-bottom: 10px;
        }

        .info__text {
          font-size: 1.2rem;
          color: $gray;
          font-weight: 300;
        }
      }
    }
  }
}

//helper materials
.arrow {
  position: fixed;
  bottom: 0;
  right: 0;
  transform: translate(-50%, -50%);

  .arrow__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: $light-dark;
    transition: background-color 0.2s ease;

    .link__icon {
      font-size: 2rem;
      color: $gray;
      transition: 0.2s ease;
    }

    &:hover {
      border: 3px solid $light-dark;
      background-color: $dark;
    }

    &:hover .link__icon {
      color: $cyan;
    }
  }
}

//media queries
@media (min-width: 600px) {

  .information {

    .information--inner {

      .information__about {
        flex-direction: row;
        flex-wrap: wrap;

        .about__info {
          width: 50%;
        }
      }
    }
  }

  .intro {

    .intro__paragraph {

      .paragraph__text {
        font-size: 1.8rem;
        line-height: 30px;

        .text__tel {
          font-size: 1.8rem;
        }
      }
    }
  }

  .expertise {

    .expertise__data {

      .data__info {
        width: 50%;
      }

      .data__info--padding--r {
        padding-right: 20px;
      }

      .data__info--padding--l {
        padding-left: 20px;
      }
    }
  }

  .skill {

    .skill__progress {
      flex-direction: row;

      .progress__section {
        width: 50%;

      }

      .progress__section--padding--r {
        padding-right: 20px;
      }

      .progress__section--padding--l {
        padding-left: 20px;
      }
    }
  }

  .experience {

    .experience__data {

      .data__info--last {

        &:before {
          height: 185%;
        }
      }
    }
  }

  .profiles {

    .profiles__data {
      flex-direction: row;

      .data__activity {
        width: 50%;
      }

      .data__activity--padding-l {
        padding-left: 20px;
      }

      .data__activity--padding-r {
        padding-right: 20px;
      }
    }
  }

  .contact {

    .contact__data {

      .data__about {
        flex-direction: row;

        .about__info {
          align-items: center;
          justify-content: center;
          width: 50%;
        }
      }
    }
  }
}

@media (min-width: 760px) {


}