html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
}

body {
  height: 2000px;
}

.information {
  background-color: #2D2E2E;
}
.information .information--inner {
  padding: 50px 20px 0;
}
.information .information--inner .information__info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 2px solid #3F4040;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.information .information--inner .information__info .info__image {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}
.information .information--inner .information__info .info__image .image__pic {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}
.information .information--inner .information__info .info__name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.information .information--inner .information__info .info__name .name__fullName {
  font-size: 4rem;
  color: #A4A5A6;
  margin-bottom: -20px;
}
.information .information--inner .information__info .info__name .name__fullName:last-child {
  margin-bottom: 0;
  color: #00ADB5;
}
.information .information--inner .information__info .info__contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.information .information--inner .information__info .info__contact .contact__carrier {
  margin-bottom: 40px;
}
.information .information--inner .information__info .info__contact .contact__carrier .carrier__self {
  font-size: 1.5rem;
  color: #A4A5A6;
  font-weight: 200;
}
.information .information--inner .information__info .info__contact .contact__social-media {
  display: flex;
  align-items: center;
  justify-content: center;
}
.information .information--inner .information__info .info__contact .contact__social-media .social-media__tag {
  width: 40px;
  height: 40px;
  background-color: #3F4040;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: color, background-color 0.3s ease;
}
.information .information--inner .information__info .info__contact .contact__social-media .social-media__tag .tag__self {
  font-size: 2rem;
  color: #717273;
}
.information .information--inner .information__info .info__contact .contact__social-media .social-media__tag:hover {
  border: 3px solid #3F4040;
  background-color: #2D2E2E;
}
.information .information--inner .information__info .info__contact .contact__social-media .social-media__tag:hover .tag__self {
  color: #00ADB5;
}
.information .information--inner .information__about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.information .information--inner .information__about .about__info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 40px;
}
.information .information--inner .information__about .about__info .info__title {
  font-size: 1.4rem;
  color: #A4A5A6;
  margin-bottom: 10px;
  font-weight: 500;
}
.information .information--inner .information__about .about__info .info__text {
  font-size: 1.2rem;
  color: #A4A5A6;
  font-weight: 300;
}

.intro .intro__title {
  border-top: 1px solid #3F4040;
  border-bottom: 1px solid #3F4040;
  background-color: #292A2A;
  padding: 30px 20px;
}
.intro .intro__title .title__self {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.intro .intro__title .title__self .self__text {
  font-size: 1.8rem;
  color: #A4A5A6;
  margin-bottom: 10px;
  font-weight: 500;
}
.intro .intro__title .title__self .self__description {
  font-size: 1.4rem;
  color: #A4A5A6;
  font-weight: 300;
}
.intro .intro__paragraph {
  background-color: #2D2E2E;
  padding: 30px 20px;
}
.intro .intro__paragraph .paragraph__text {
  font-size: 1.3rem;
  line-height: 26px;
  color: #A4A5A6;
  font-weight: 300;
}
.intro .intro__paragraph .paragraph__text .text__tel {
  color: #00ADB5;
  font-size: 1.3rem;
  font-weight: 500;
  transition: 0.2s ease;
}
.intro .intro__paragraph .paragraph__text .text__tel:hover {
  color: #EEEEEE;
}

.expertise .expertise__title {
  border-top: 1px solid #3F4040;
  border-bottom: 1px solid #3F4040;
  background-color: #292A2A;
  padding: 30px 20px;
}
.expertise .expertise__title .title__self {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.expertise .expertise__title .title__self .self__text {
  font-size: 1.8rem;
  color: #A4A5A6;
  margin-bottom: 10px;
  font-weight: 500;
}
.expertise .expertise__title .title__self .self__description {
  font-size: 1.4rem;
  color: #A4A5A6;
  font-weight: 300;
}
.expertise .expertise__data {
  padding: 30px 20px;
  background-color: #2D2E2E;
  display: flex;
  flex-wrap: wrap;
}
.expertise .expertise__data .data__info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 20px;
  width: 100%;
}
.expertise .expertise__data .data__info .info__number {
  color: #00ADB5;
  font-size: 1.8rem;
  margin-right: 20px;
  font-weight: 500;
}
.expertise .expertise__data .data__info .info__text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.expertise .expertise__data .data__info .info__text .text__title {
  font-size: 1.8rem;
  font-weight: 500;
  color: #A4A5A6;
  margin-bottom: 10px;
}
.expertise .expertise__data .data__info .info__text .text__description {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 24px;
  color: #A4A5A6;
}
.expertise .expertise__data .data__info:last-child {
  margin-bottom: 0;
}

.skill .skill__title {
  border-top: 1px solid #3F4040;
  border-bottom: 1px solid #3F4040;
  background-color: #292A2A;
  padding: 30px 20px;
}
.skill .skill__title .title__self {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.skill .skill__title .title__self .self__text {
  font-size: 1.8rem;
  color: #A4A5A6;
  margin-bottom: 10px;
  font-weight: 500;
}
.skill .skill__title .title__self .self__description {
  font-size: 1.4rem;
  color: #A4A5A6;
  font-weight: 300;
}
.skill .skill__progress {
  padding: 30px 20px;
  background-color: #2D2E2E;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.skill .skill__progress .progress__section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.skill .skill__progress .progress__section .section__title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.skill .skill__progress .progress__section .section__title .title__number {
  color: #00ADB5;
  font-size: 1.8rem;
  margin-right: 18px;
  font-weight: 500;
}
.skill .skill__progress .progress__section .section__title .title__text {
  color: #A4A5A6;
  font-size: 1.8rem;
  font-weight: 500;
}
.skill .skill__progress .progress__section .section__bar {
  margin-bottom: 20px;
  width: 100%;
}
.skill .skill__progress .progress__section .section__bar .bar__main {
  position: relative;
  height: 5px;
  width: 100%;
  background-color: #3F4040;
}
.skill .skill__progress .progress__section .section__bar .bar__main .bar__progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 80%;
  background-color: #00ADB5;
}
.skill .skill__progress .progress__section .section__bar .bar__main .bar__progress[data-progress="80%"] {
  width: 80%;
}
.skill .skill__progress .progress__section .section__bar .bar__main .bar__progress[data-progress="70%"] {
  width: 70%;
}
.skill .skill__progress .progress__section .section__bar .bar__main .bar__progress[data-progress="65%"] {
  width: 65%;
}
.skill .skill__progress .progress__section .section__bar .bar__main .bar__progress[data-progress="40%"] {
  width: 40%;
}
.skill .skill__progress .progress__section .section__bar .bar__main .bar__progress[data-progress="65%"] {
  width: 65%;
}
.skill .skill__progress .progress__section .section__bar .bar__main .bar__progress[data-progress="55%"] {
  width: 55%;
}
.skill .skill__progress .progress__section .section__bar .bar__main .bar__progress[data-progress="70%"] {
  width: 70%;
}

.experience .experience__title {
  border-top: 1px solid #3F4040;
  border-bottom: 1px solid #3F4040;
  background-color: #292A2A;
  padding: 30px 20px;
}
.experience .experience__title .title__self {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.experience .experience__title .title__self .self__text {
  font-size: 1.8rem;
  color: #A4A5A6;
  margin-bottom: 10px;
  font-weight: 500;
}
.experience .experience__title .title__self .self__description {
  font-size: 1.4rem;
  color: #A4A5A6;
  font-weight: 300;
}
.experience .experience__data {
  background-color: #2D2E2E;
  padding: 30px 20px;
}
.experience .experience__data .data__info {
  padding-left: 30px;
  margin-bottom: 25px;
  position: relative;
}
.experience .experience__data .data__info .info__self {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.experience .experience__data .data__info .info__self .self__date {
  color: #717273;
  font-size: 1rem;
  margin-bottom: 10px;
}
.experience .experience__data .data__info .info__self .self__company {
  color: #A4A5A6;
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.experience .experience__data .data__info .info__self .self__job {
  color: #A4A5A6;
  font-size: 1.1rem;
  margin-bottom: 10px;
}
.experience .experience__data .data__info .info__self .self__location {
  color: #717273;
  font-size: 1rem;
  margin-bottom: 10px;
}
.experience .experience__data .data__info .info__description .description__text {
  color: #A4A5A6;
  font-size: 1.3rem;
  line-height: 24px;
  margin-bottom: 10px;
}
.experience .experience__data .data__info .info__ball {
  position: absolute;
  top: 0;
  left: 0;
}
.experience .experience__data .data__info .info__ball .ball__self {
  width: 10px;
  height: 10px;
  color: #00ADB5;
}
.experience .experience__data .data__info:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(4px, 20px);
  width: 2px;
  height: 158%;
  background-color: #3F4040;
}
.experience .experience__data .data__info--last:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(4px, 20px);
  width: 2px;
  height: 158%;
  background-color: #3F4040;
}

.education .education__title {
  border-top: 1px solid #3F4040;
  border-bottom: 1px solid #3F4040;
  background-color: #292A2A;
  padding: 30px 20px;
  position: relative;
}
.education .education__title .title__self {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.education .education__title .title__self .self__text {
  font-size: 1.8rem;
  color: #A4A5A6;
  margin-bottom: 10px;
  font-weight: 500;
}
.education .education__title .title__self .self__description {
  font-size: 1.4rem;
  color: #A4A5A6;
  font-weight: 300;
}
.education .education__data {
  background-color: #2D2E2E;
  padding: 30px 20px;
}
.education .education__data .data__info {
  position: relative;
  padding-left: 30px;
  margin-bottom: 25px;
}
.education .education__data .data__info .info__self {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.education .education__data .data__info .info__self .self__date {
  color: #717273;
  font-size: 1rem;
  margin-bottom: 10px;
}
.education .education__data .data__info .info__self .self__company {
  color: #A4A5A6;
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.education .education__data .data__info .info__self .self__job {
  color: #A4A5A6;
  font-size: 1.1rem;
  margin-bottom: 10px;
}
.education .education__data .data__info .info__self .self__location {
  color: #717273;
  font-size: 1rem;
  margin-bottom: 10px;
}
.education .education__data .data__info .info__description .description__text {
  color: #A4A5A6;
  font-size: 1.3rem;
  line-height: 24px;
  margin-bottom: 10px;
}
.education .education__data .data__info .info__ball {
  position: absolute;
  top: 0;
  left: 0;
}
.education .education__data .data__info .info__ball .ball__self {
  width: 10px;
  height: 10px;
  color: #00ADB5;
}
.education .education__data .data__info:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(4px, 20px);
  width: 2px;
  height: 100%;
  background-color: #3F4040;
}
.education .education__data .data__info--last {
  position: relative;
}
.education .education__data .data__info--last:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-4px, 20px);
  height: 2px;
  width: 20px;
  background-color: #3F4040;
}

.profiles .profiles__title {
  border-top: 1px solid #3F4040;
  border-bottom: 1px solid #3F4040;
  background-color: #292A2A;
  padding: 30px 20px;
}
.profiles .profiles__title .title__self {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.profiles .profiles__title .title__self .self__text {
  font-size: 1.8rem;
  color: #A4A5A6;
  margin-bottom: 10px;
  font-weight: 500;
}
.profiles .profiles__title .title__self .self__description {
  font-size: 1.4rem;
  color: #A4A5A6;
  font-weight: 300;
}
.profiles .profiles__data {
  background-color: #2D2E2E;
  padding: 30px 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.profiles .profiles__data .data__activity {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  margin-bottom: 30px;
}
.profiles .profiles__data .data__activity .activity__logo {
  margin-right: 20px;
}
.profiles .profiles__data .data__activity .activity__logo .logo__pic .pic__self {
  color: #717273;
  font-size: 2rem;
  transition: 0.2s ease;
  cursor: pointer;
}
.profiles .profiles__data .data__activity .activity__logo .logo__pic .pic__self:hover {
  color: #00ADB5;
}
.profiles .profiles__data .data__activity .activity__text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.profiles .profiles__data .data__activity .activity__text .text__title {
  color: #00ADB5;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.profiles .profiles__data .data__activity .activity__text .text__description {
  color: #A4A5A6;
  font-size: 1.3rem;
}

.contact .contact__title {
  border-top: 1px solid #3F4040;
  border-bottom: 1px solid #3F4040;
  background-color: #292A2A;
  padding: 30px 20px;
}
.contact .contact__title .title__self {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.contact .contact__title .title__self .self__text {
  font-size: 1.8rem;
  color: #A4A5A6;
  margin-bottom: 10px;
  font-weight: 500;
}
.contact .contact__title .title__self .self__description {
  font-size: 1.4rem;
  color: #A4A5A6;
  font-weight: 300;
}
.contact .contact__data {
  background-color: #2D2E2E;
  padding: 30px 20px;
}
.contact .contact__data .data__about {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.contact .contact__data .data__about .about__info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 40px;
}
.contact .contact__data .data__about .about__info .info__title {
  font-size: 1.4rem;
  color: #A4A5A6;
  margin-bottom: 10px;
}
.contact .contact__data .data__about .about__info .info__text {
  font-size: 1.2rem;
  color: #A4A5A6;
  font-weight: 300;
}

.arrow {
  position: fixed;
  bottom: 0;
  right: 0;
  transform: translate(-50%, -50%);
}
.arrow .arrow__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #3F4040;
  transition: background-color 0.2s ease;
}
.arrow .arrow__link .link__icon {
  font-size: 2rem;
  color: #A4A5A6;
  transition: 0.2s ease;
}
.arrow .arrow__link:hover {
  border: 3px solid #3F4040;
  background-color: #2D2E2E;
}
.arrow .arrow__link:hover .link__icon {
  color: #00ADB5;
}

@media (min-width: 600px) {
  .information .information--inner .information__about {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .information .information--inner .information__about .about__info {
    width: 50%;
  }
  .intro .intro__paragraph .paragraph__text {
    font-size: 1.8rem;
    line-height: 30px;
  }
  .intro .intro__paragraph .paragraph__text .text__tel {
    font-size: 1.8rem;
  }
  .expertise .expertise__data .data__info {
    width: 50%;
  }
  .expertise .expertise__data .data__info--padding--r {
    padding-right: 20px;
  }
  .expertise .expertise__data .data__info--padding--l {
    padding-left: 20px;
  }
  .skill .skill__progress {
    flex-direction: row;
  }
  .skill .skill__progress .progress__section {
    width: 50%;
  }
  .skill .skill__progress .progress__section--padding--r {
    padding-right: 20px;
  }
  .skill .skill__progress .progress__section--padding--l {
    padding-left: 20px;
  }
  .experience .experience__data .data__info--last:before {
    height: 185%;
  }
  .profiles .profiles__data {
    flex-direction: row;
  }
  .profiles .profiles__data .data__activity {
    width: 50%;
  }
  .profiles .profiles__data .data__activity--padding-l {
    padding-left: 20px;
  }
  .profiles .profiles__data .data__activity--padding-r {
    padding-right: 20px;
  }
  .contact .contact__data .data__about {
    flex-direction: row;
  }
  .contact .contact__data .data__about .about__info {
    align-items: center;
    justify-content: center;
    width: 50%;
  }
}
@media (min-width: 760px) {
  .information .information--inner {
    padding: 50px 50px 0;
  }
  .information .information--inner .information__about {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .information .information--inner .information__about .about__info {
    align-items: flex-start;
    width: fit-content;
  }
  .intro .intro__title {
    padding: 30px 50px;
  }
  .intro .intro__paragraph {
    padding: 30px 50px;
  }
  .expertise .expertise__title {
    padding: 30px 50px;
  }
  .expertise .expertise__data {
    padding: 30px 50px;
  }
  .skill .skill__title {
    padding: 30px 50px;
  }
  .skill .skill__progress {
    padding: 30px 50px;
  }
  .experience .experience__title {
    padding: 30px 50px;
  }
  .experience .experience__data {
    padding: 30px 50px;
  }
  .experience .experience__data .data__info--last:before {
    height: 196%;
  }
  .education .education__title {
    padding: 30px 50px;
  }
  .education .education__data {
    padding: 30px 50px;
  }
  .profiles .profiles__title {
    padding: 30px 50px;
  }
  .profiles .profiles__data {
    padding: 30px 50px;
  }
  .contact .contact__title {
    padding: 30px 50px;
  }
  .contact .contact__data {
    padding: 30px 50px;
  }
  .contact .contact__data .data__about {
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .contact .contact__data .data__about .about__info {
    align-items: flex-start;
    width: fit-content;
  }
}

/*# sourceMappingURL=style.css.map */
